body {
  font-family: cursive;
  background-color: lightgrey;
}
.navbar {
  background-color: #F50089;
  color: white;
}

h1 {
  text-align: center;
}

.main_container {
  margin: 30px auto 0 auto;
  padding: 10px;
  height: 100%;
  width: 400px;
}
#newPun {
  border: 1.5px solid white;
  background-color: #F50089;
  color: white;
}
.button_container, .quote_container {
  margin: 10px;
}

.quote_container {
  margin-bottom: 20px;
}

.quote_container p {
  font-size: 1.6em;
  border: solid black 1px;
  border-radius: 3%;
  padding: 2%;
}

.quote_container span {
  margin: 0 5px;
}

footer {
  font-family:sans-serif;
  text-align: center;
}
footer a {
  color: black;
}
footer a:hover {
  color: #F50089;
  text-decoration: none;
}
